<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projekt_proz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.admin.AdminPanelActivity"
            android:label="Panel administratora"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.admin.QuestionEditActivity"
            android:label="Edycja pytania" />
        <activity
            android:name=".activities.admin.TestEditActivity"
            android:label="Edycja testu" />
        <activity
            android:name=".activities.admin.ResultsActivity"
            android:label="Wyniki testu" />
        <activity
            android:name=".activities.AfterLogin"
            android:label="Dostępne testy" />
        <activity
            android:name=".activities.WithinTest"
            android:label="Test" />
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>